<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 iFlair Web Technologies. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="IFlair_easycachecleaner" frontName="ifeasycachecleaner">
            <module name="IFlair_EasyCacheCleaner" before="Magento_Backend"/>
        </route>
    </router>
</config>
