<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 iFlair Web Technologies. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Block\Page\Header" type="IFlair\EasyCacheCleaner\Block\Adminhtml\Page\Header" />
</config>
